* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 13px;
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.2em;
  background-color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #999;
  text-decoration: none;
}

li {
  list-style: none;
}

// 定义颜色

$colors:('primay':#db9e3f,
  'white':#fff,
  'light':#f9f9f9,
  "grey":#999,
  'dar-1':#343440,
  'dar':#222,
  'black':#333);

@each $colorKey,
$color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }

  .bg-#{$colorKey} {
    background-color: $color;
  }
}

// 文本
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var;
  }

}

// font size 
$base-font-size:1rem;
$fons-sizes:(xss:0.5,
  xs:0.625,
  sm:0.75,
  md:0.8125,
  lg:0.875,
  xl:1);

@each $sizeKey,
$size in $fons-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}

// flex

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

$flex-jc:(start:flex-start,
  end:flex-end,
  center:center,
  between:space-between,
  around:space-around);


@each $Key,
$value in $flex-jc {
  .jc-#{$Key} {
    justify-content: $value;
  }
}



$flex-ai:(start:flex-start,
  end:flex-end,
  center:center,
  stretch:stretch);


@each $Key,
$value in $flex-ai {
  .ai-#{$Key} {
    align-items: $value;
  }
}

.flex-1 {
  flex: 1;
}

.flex-grow-1 {
  flex-grow: 1;
}

.btn {
  border: none;
  border-radius: 0.125rem;
  font-size: map-get($map:$fons-sizes, $key:'sm') * $base-font-size;
  padding: 0.4rem 0.6rem;
}

// nav
.nav {
  .nav-item {
    border-bottom: 0.1875rem solid transparent;
    padding-bottom: 0.2rem;

    &.active {
      border-bottom: 0.1875rem solid #fff;
    }
  }


}